# Ignorar node_modules
node_modules/

# Ignorar arquivos de log
*.log

# Ignorar arquivos de ambiente
.env

# Ignorar arquivos temporários do sistema
.DS_Store
Thumbs.db

# Ignorar pastas específicas
.idea/
.vscode/
